<header class="site-header">
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<nav class="site-nav">
			<div class="trigger">
				{% for pages in site.pages %}
					{% if pages.title != "Page Not Found" %}
						<a class="page-link" href="{{ pages.url | prepend: site.baseurl }}">{{ pages.title }}</a>
					{% endif %}
				{% endfor %}
				{% for social in site.owner.social_media %}
					<a class="page-link" href="{{ social.url }}" title="{{ social.name }}"><i class="fa fa-{{ social.name }}"></i></a>
				{% endfor %}
			</div>
		</nav>
	</div>
</header>
