<header>
	<div class="container">
		<div class="profile">
			<div class="social">
				<a href="http://twitter.com/ngurajeka">
					<div data-picture data-alt="Twitter">
						<div data-src="{{ "/assets/images/twitter16.png" | prepend: site.baseurl }}"></div>
						<div data-src="{{ "/assets/images/twitter32.png" | prepend: site.baseurl }}" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
						<noscript><img src="{{ "/assets/images/twitter16.png" | prepend: site.baseurl }}" alt="Twitter"></noscript>
					</div>
				</a>
				<a href="http://github.com/ngurajeka">
					<div data-picture data-alt="Github">
						<div data-src="{{ "/assets/images/octocat16.png" | prepend: site.baseurl }}"></div>
						<div data-src="{{ "/assets/images/octocat32.png" | prepend: site.baseurl }}"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
						<noscript><img src="{{ "/assets/images/octocat16.png" | prepend: site.baseurl }}" alt="Github"></noscript>
					</div>
				</a>
			</div>
			<div class="avatar" data-picture data-alt="avatar">
				<div data-src="{% include avatar_url %}?s=54"></div>
				<div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
				<noscript><img src="{% include avatar_url %}?s=54" alt="avatar"></noscript>
			</div>
		</div>
		<h5 class="logo"><a href="/">{{ site.title }}</a></h5>
		<p>{{ site.desc }}</p>

		<div class="nav-slider">
			<div class="nav-selection"></div>
		</div>

		<nav class="subnav">
			<ul>
				{% if page.subnav == "home" %}
					<li><a href="http://ngurajeka.com" class="active" data-subnav="home">Home</a></li>
				{% else %}
					<li><a href="http://ngurajeka.com" data-subnav="home">Home</a></li>
				{% endif %}
				{% if page.subnav == "blog" %}
					<li><a href="/" class="active" data-subnav="blog">Blog</a></li>
				{% else %}
					<li><a href="/" data-subnav="blog">Blog</a></li>
				{% endif %}
				{% if page.subnav == "about" %}
					<li><a href="/about" class="active" data-subnav="about">About</a></li>
				{% else %}
					<li><a href="/about" data-subnav="about">About</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
