@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('PT Sans'),
		local('PTSans-Regular'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/LKf8nhXsWg5ybwEGXk8UBQ.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=-W_xG__5QLePeHob2L7z1Q#PTSans */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('PT Sans Bold'),
		local('PTSans-Bold'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNC3USBnSvpkopQaUR-2r7iU.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=0XxGQsSc1g4rdRdjJKZrNKWUboTb-jS2tyCOQMtm97g#PTSans */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('PT Sans Italic'),
		local('PTSans-Italic'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400italic.eot?#iefix') format('embedded-opentype'),
		/* fr/assets/fonts/PT_Sans_Serif/om http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff */
		url('PT_Sans_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLKCWcynf_cDxXwCLxiixG1c.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=PIPMHY90P7jtyjpXuZ2cLJbd9NUM7myrQQz30yPaGQ4#PTSans */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_400italic.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local('PT Sans Bold Italic'),
		local('PTSans-BoldItalic'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkInF5uFdDttMLvmWuJdhhgs.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=lILlYDvubYemzYzN7GbLkFlIn5tFQcqMuf-jhyJP0ps#PTSans */
		url('/assets/fonts/PT_Sans_Serif/PT_Sans_700italic.svg#PTSans') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 400;
	src:
		local('PT Serif'),
		local('PTSerif-Regular'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/EgBlzoNBIHxNPCMwXaAhYPesZW2xOQ-xsNqO47m55DA.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=zSUbs06MuKAdU7m-SV4ok_esZW2xOQ-xsNqO47m55DA#PTSerif */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: 700;
	src:
		local('PT Serif Bold'),
		local('PTSerif-Bold'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpJ0EAVxt0G0biEntp43Qt6E.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=QABk9IxT-LFTJ_dQzv7xpHNsigHlcrQGNV8nkUSFQfc#PTSerif */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: 400;
	src:
		local('PT Serif Italic'),
		local('PTSerif-Italic'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzC3USBnSvpkopQaUR-2r7iU.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=03aPdn7fFF3H6ngCgAlQzKWUboTb-jS2tyCOQMtm97g#PTSerif */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_400italic.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: 700;
	src:
		local('PT Serif Bold Italic'),
		local('PTSerif-BoldItalic'),
		/* from  */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9QFhaRv2pGgT5Kf0An0s4MM.woff */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9fEr6Hm6RMS0v1dtXsGir4g.ttf */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Foydq9xJp--nfYIx2TBz9T9QLNJZUvW8xv4RpDkyVDQ#PTSerif */
		url('/assets/fonts/PT_Sans_Serif/PT_Serif_700italic.svg#PTSerif') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 300;
	src:
		local('Merriweather Light'),
		local('Merriweather-Light'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nmFp2sMiApZm5Dx7NpSTOZk.woff */
		url('/assets/fonts/Merriweather/Merriweather_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6ngV_pQ1T3xN3K1c3sB361us.ttf */
		url('/assets/fonts/Merriweather/Merriweather_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=ZvcMqxEwPfh2qDWBPxn6nrJg1hA63dzswhy4NvEPrPM#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_300.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src:
		local('Merriweather'),
		local('  src: local('Merriweather'), url(http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff */
		url('/assets/fonts/Merriweather/Merriweather_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs.ttf */
		url('/assets/fonts/Merriweather/Merriweather_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=RFda8w1V0eDZheqfcyQ4EFlIn5tFQcqMuf-jhyJP0ps#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_400.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src:
		local('Merriweather Bold'),
		local('Merriweather-Bold'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nnl4twXkwp3_u9ZoePkT564.woff */
		url('/assets/fonts/Merriweather/Merriweather_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nn06qf9KHRHwsVx7iw5MXmY.ttf */
		url('/assets/fonts/Merriweather/Merriweather_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=ZvcMqxEwPfh2qDWBPxn6ngay50PuN8loMJ9QAXsTs7U#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_700.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 300;
	src:
		local('Merriweather Light Italic'),
		local('Merriweather-LightItalic'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_300italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIG0Xvi9kvVpeKmlONF1xhUs.woff */
		url('/assets/fonts/Merriweather/Merriweather_300italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIH3uxQAI1Bvm-GxtFNy4yl0.ttf */
		url('/assets/fonts/Merriweather/Merriweather_300italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=EYh7Vl4ywhowqULgRdYwINv65-B3V1C1aB1PFKVs0gQ#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_300italic.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	src:
		local('Merriweather Italic'),
		local('Merriweather-Italic'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/So5lHxHT37p2SS4-t60SlHpumDtkw9GHrrDfd7ZnWpU.woff */
		url('/assets/fonts/Merriweather/Merriweather_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/So5lHxHT37p2SS4-t60SlCtfYakCkPqOMDce0h_3gD8.ttf */
		url('/assets/fonts/Merriweather/Merriweather_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=So5lHxHT37p2SS4-t60SlH2UFnxWCzsMUZbVj2XRF5M#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_400italic.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	src:
		local('Merriweather Bold Italic'),
		local('Merriweather-BoldItalic'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIL0qgHI2SEqiJszC-CVc3gY.woff */
		url('/assets/fonts/Merriweather/Merriweather_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwICxQL91WRy8t8mPvAX_dIgA.ttf */
		url('/assets/fonts/Merriweather/Merriweather_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=EYh7Vl4ywhowqULgRdYwIOiOBN1C42tFdXFKJTGlCXo#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_700italic.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 900;
	src:
		local('Merriweather Heavy'),
		local('Merriweather-Heavy'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_900.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6ngi3Hume1-TKjJz2lX0jYjo.woff */
		url('/assets/fonts/Merriweather/Merriweather_900.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/ZvcMqxEwPfh2qDWBPxn6nvzeo8SCrGyBsNQUDsw2Qr8.ttf */
		url('/assets/fonts/Merriweather/Merriweather_900.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=ZvcMqxEwPfh2qDWBPxn6nnvlAbBC1RrJpyn549iFTvo#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_900.svg#Merriweather') format('svg');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 900;
	src:
		local('Merriweather Heavy Italic'),
		local('Merriweather-HeavyItalic'),
		/* from  */
		url('/assets/fonts/Merriweather/Merriweather_900italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIFrTzzUNIOd7dbe75kBQ0MM.woff */
		url('/assets/fonts/Merriweather/Merriweather_900italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/merriweather/v8/EYh7Vl4ywhowqULgRdYwIMEHn4duKYHaQWBe899DiqE.ttf */
		url('/assets/fonts/Merriweather/Merriweather_900italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=EYh7Vl4ywhowqULgRdYwIBYUabI77EJlL2OICNHIsFc#Merriweather */
		url('/assets/fonts/Merriweather/Merriweather_900italic.svg#Merriweather') format('svg');
}
