// Our variables
$base-font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
$base-font-size:   1.25em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #383838;
$text-color-light: lighten($text-color, 40%);
$text-color-dark:  darken($text-color, 25%);

$white-color:      #ffffff;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$primary-color:	   #1ABC9C;
$primary-color-light: lighten($primary-color, 40%);
$primary-color-dark:  darken($primary-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-phone:				 320px;